@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
    margin: 0px;
    font-family: "Oswald", sans-serif;
}

.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-left: 10px;
}

.card {
    width: 300px;
    text-decoration: none;
    color: black;

}

.card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 2s, box-shadow 1s;
}

.card h3 {
    margin: 8px 0 4px;
    font-size: 16px;
}

.card p {
    margin: 0;
    color: gray;
    font-size: 14px;
}

.card:hover img {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transform: scale(1.1);
}
.upper-part img{
width: 200px;
height:100px;


}
.upper-part{
background-color:rgb(186, 186, 186);
align-items:center;
display:flex ;






}

.search-bar{

box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
border-radius:30px;
font-size:40px;
width:850px;
position: absolute;
inset-inline-start: 600px;
inset-block-start: 12px;
padding:15px;
border:none;
outline:none;
background-color:rgb(212, 212, 212);
transition:background-color 1.0s;





}




.search-bar:focus{

background-color:rgb(255, 255, 255);





}
.img-logo{






}



