.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-left: 10px;
}

.card {
    width: 300px;
    text-decoration: none;
    color: black;

}

.card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 2s, box-shadow 1s;
}

.card h3 {
    margin: 8px 0 4px;
    font-size: 16px;
}

.card p {
    margin: 0;
    color: gray;
    font-size: 14px;
}

.card:hover img {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transform: scale(1.1);
}
.upper-part img{
width: 200px;
height:100px;


}
.upper-part{
background-color:red;






}
body{
margin: 0px;

}
